---
layout: default
title: Baby
---
<div class='wrap baby-intro'>
  <div class='countdown'>
    <script type="application/javascript">
      var myCountdownTest = new Countdown({
        year  : 2014,
        month : 08,
        day   : 24,
        width : 300,
        height  : 75,
        rangeHi : "month",
        rangeLo : "minute"
      });
    </script>
  </div>
  <p>We are thrilled to announce that we are expecting a baby in late August! Since we will be overseas for the pregnancy and delivery we will be updating the blog and website with news and pictures to keep everyone up to speed. Below is a collection of our blog posts related to the Baby, which we will be updating as frequently as we can.</p>
</div>

{% for post in site.tags.baby %}
  {% include post.html %}
{% endfor %}

<script>
  $('.post').onScreen({
    container: window,
    direction: 'vertical',
    doIn: function() {
      addClass: 'animated'
    },
    doOut: function() {
      toggleClass: 'animated'
    },
    tolerance: 0,
    throttle: 50,
    toggleClass: 'animated',
    lazyAttr: null,
    lazyPlaceholder: 'someImage.jpg',
    debug: false
  });
</script>
