.gallery {
  padding: 10px;
}

.masonry-gallery {
  list-style: none;
  margin: 0;
  padding: 20px;
}
.masonry-gallery li {
  background: white;
  min-height: 1px;
  float: left;
  margin: 1%;
  padding: 15px 15px 40px 15px;
  width: 29.5%;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.15);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.15);
}

.masonry-gallery li:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}


.masonry-gallery li:nth-child(3n) {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}


.masonry-gallery li:nth-child(5n) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}

.masonry-gallery li:nth-child(8n) {
  position: relative;
  top: 8px;
  right: 5px;
}

.masonry-gallery li:nth-child(11n) {
  position: relative;
  top: 3px;
  left: -5px;
}



.masonry-gallery li:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}





.masonry-gallery li img {
  width: 100%;
}


@media screen and (max-width: 600px) {
  .masonry-gallery li {
    width: 50%;
  }
}
