---
---
@import 'mixins';

header {
  border-bottom: 1px solid $hairline;
  nav {
    overflow: hidden;
    padding: 10px;
    .logo {
      display: inline-block;
      float: left;
      font-size: 1em;
      margin: 0 20px 0 0;
      padding-top: 8px;
      a {
        color: black !important;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      li a {
        color: #777 !important;
        float: left;
        font-size: .8em;
        margin-right: 15px;
        padding: 10px 0;
        &:hover {
          color: black !important;
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  nav {
    font-size: 120%;
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    ul li a {
      font-weight: 200;
      margin-top: 3px;
    }
  }
}
@media screen and (min-width: 1200px) {
  nav {
    font-size: 170%;
    max-width: 1200px;
    ul li a {
      margin: 0 15px;
    }
  }
}
