header {
  background: #222;
  background-image: url('/images/underground.jpg');
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #1d2840;
  height: 500px;
  overflow: hidden;
}


header div {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  max-width: 1000px;
  width: 90%;
}
header h1 {
  float: left;
  margin: 0;
  padding-top: 1%;
  width: 20%;
}
header h1 img {
  max-width: 100%;
}
header a {
  color: #fff !important;
  text-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

header a:hover {
  color: #e1102c !important;
}

nav {
  float: right;
  padding-top: 3%;
  width: 60%;
}

nav ul {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  font-family: "dederon-sans-web";
  float: left;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  width: 25%;
}



@media screen and (max-width: 500px) {
  header {
    height: 250px;
  }
  header h1 {
    text-align: center;
    width: 100%;
  }
  nav {
    width: 100%;
  }
  nav ul li a {
    font-size: .6em;
  }

}
