---
---

@import 'mixins';
header {
  overflow: hidden;
  nav {
    margin: 0 auto;
    padding: 10px 0;
    max-width: $site-width;
    h1 {
      display: inline-block;
      float: left;
      font-size: 1em;
      margin: 0 20px 0 0;
      padding-top: 8px;
      a {
        color: black !important;
      }
    }
    ul {
      display: block;
      overflow: hidden;
      list-style: none;
      padding: 0;
      margin: 0;
      li a {
        color: #999 !important;
        float: left;
        font-size: .8em;
        margin-right: 15px;
        padding: 10px 0;
        &:hover {
          color: black !important;
        }
      }
    }
  }
}


#hero {
  background-image: url('/images/jonamac14.jpg');
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  height: 300px;
  margin-bottom: 60px;
}


@media screen and (max-width: 600px) {
  #hero {
    height: 200px;
    margin-bottom: 20px;
  }
}
