.post {
  border-bottom: 1px solid #ccc;
  line-height: 1.6em;
  padding: 3%;
}

.post div {
  margin: 0 auto;
  max-width: 1000px;
}

.user-icon {
  overflow: hidden;
  float: left;
  margin-top: -25px;
}

.user-icon:before {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  content: '';
  position: absolute;
  padding-bottom: 75px;
  width: 75px;
}


.Kendall:before { background-image: url("/images/kendall.jpg"); }
.Chris:before { background-image: url("/images/chris.jpg"); }

.post h2 {
  font-size: 2em;
  margin-left: 90px;
}

.post h2 a {
  color: #333333;
}

.post h2 a:hover {
  color: #990000;
}

.post-date {
  font-size: .5em;
  color: #555;
}



.post p,
.post h3 {
  padding: 0 7%;
}

.post ul {
  padding: 0 10%;
}
.post img {
  border: 1px solid #f2f2f2;
  background: #fff;
  display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
}




@media screen and (max-width: 500px) {
  .post {
    padding: 0;
  }
  .user-icon:before {
    margin-top: 50px;
    margin-left: 20px;
    padding-bottom: 50px;
    width: 50px;
  }
  .post h2 {
    font-size: 1em;
    margin: 0 0 0 3em;
    padding: 20px;
  }
  .post-date {
    font-size: .8em;
    display: block;
  }
  .post p {
    font-size: .8em;
    line-height: 1.25em;
    margin: 0 0 1em 0;
    padding: 0 20px;
  }
}
