* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body, html {
  background: #fcf9f0;
  font-size: 22px;
  margin: 0;
}


h1, h2, h3, h4, h5 {
  font-family: "dederon-sans-web";
}

a, a:visited {
  color: #1E0E29;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: all 0.15s ease-in;
}

a:hover {
  color: #e1102c;
}

p {
  color: #333;
  font-family: "minion-pro", sans-serif;
}


.wrap {
  margin: 2% auto;
  overflow: hidden;
  width: 90%;
  max-width: 1000px;
}
