* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



body, html {
  background: #f2f2f2;
  margin: 0;
}


header {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
.content {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
