---
---

@import 'mixins';
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body, html {
  //font-family: 'Muli', serif;
  font-family: "jubilat";
  background: #fff;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 120%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a, a:visited {
  color: #e1102c;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: all 0.15s ease-in;
  &:hover {
    color: #990000;
  }
}

img {
  max-width: 100%;
}
img.vertical {
  display: block;
  margin: 0 auto;
  width: 60%;
}

p {
  color: #555;
  font-weight: 200;
  line-height: 1.5em;
}

iframe {
  display: block;
  margin: 1.5em auto;
}

ul {
  list-style: none;
}



#homepage {
  background: url('/images/covers/alison-smile.jpg');
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 61px;
  bottom: 0;
}

.standfirst {
  background: rgba(0,0,0,0.25);
  font-size: 1.5em;
  margin: 20px;
  padding: 20px;
  p {
    color: white;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0;
  }
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: $red;
    }
  }
}

@media screen and (min-width: 650px) {
  #homepage {
    top: 68px;
  }
  .standfirst {
    font-size: 2em;
    margin: 5% auto;
    max-width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  #homepage {
    top: 75px;
  }
  .standfirst {
    font-size: 3em;
    margin: 5% auto;
    max-width: 900px;
  }
}
