* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



body, html {
  background: #f2f2f2;
  margin: 0;
}

a, a:visited {
  color: #3366cc;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: all 0.15s ease-in;
}

a:hover {
  color: #333;
}

.listed-post {
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
.post { /* Individual Page */
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}


/* Static Pages */
.page {
  background: #fff;
  border: 1px solid #ccc;
  padding: 40px;
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}
